[user]
	name = Riatre Foo
	email = foo@riat.re
[core]
    excludesfile = ~/.gitignore_global
[push]
	default = simple
[core]
	editor = vim
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
	conflictstyle = diff3
