[user]
	name = Riatre Foo
	email = foo@riat.re
[core]
    excludesfile = ~/.gitignore_global
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
	conflictstyle = diff3
[credential]
	helper = store --file ~/.my-credentials
